/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}

/*General Styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/* Generic Project Styles */
color: black;
}

/* Header Styles */
header {
    background-color:aquamarine;
    font-family: "Special Elite" , serif;
}

/* Main Styles */
main {
    background-color: brown;
    /* Fill surplus space with Main Content to push footer down */
    flex: 1 0 auto;
}

/*Footer Styles */
footer {
    background-color: darkorange;
}