/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: black;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: red;
}

a {
    text-decoration: none;
}

/* Header Styles */
header {
    background-color: black;
    font-family: "Special Elite", serif;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white
}


.nav-bar {
    color: red;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    text-decoration: none;
}

#menu>li {
    margin-bottom: 1em;
    text-decoration: none;
}

/*Dropdown toggle for navbar */
nav {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: red;
}

ul menu {
    text-decoration: none;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Main Styles */
main {
    /* Fill surplus space with Main Content to push footer down */
    flex: 1 0 auto;
    margin-top: 65px;
    background-color: black;
}

/* Hero Styles */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/nightmare-hero.jpeg) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgb(230, 225, 226, .8);
    font-size: 130%;
    position: absolute;
    bottom: 50px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

/*Join If You... Section */
#if-you {
    width: 90%;
    margin: 20px auto;
    background-color: black;
}

hr {
    border-top: 1px solid black;
    margin: 5px 0;
}

#if-you h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#if-you p {
    padding: 0 20px;
    color: white;
}

/* Signup Section */
#signup {
    color: white;
    padding: 30px;
    max-width: 400px;
    margin-top: 100px;
    margin-left: 50px;
    text-align: center;
}

/* Testimonial Section */
.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 100px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-size: 8px;
}

/*Footer Styles */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: red
}


/*Media Query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        text-decoration: none;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down below header for larger screens */
        margin-top: 75px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        left: 50px;
        right: 10px;
    }

    /* Push sign-up form to right on bigger screens */
    #signup {
        margin-left: 200px;
    }
}

/* Large Devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {


    #menu a:hover {
        border-bottom: 1px solid red;
    }

    /* Push sign-up form to right on bigger screens */
    #signup {
        margin-left: 300px;
    }

}