/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: black;
}

a {
    text-decoration: none;
}

/* Header Styles */
header {
    background-color: black;
    font-family: "Special Elite", serif;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white
}


.nav-bar {
    color: red;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    text-decoration: none;
}

#menu>li {
    margin-bottom: 1em;
    text-decoration: none;
}

/*Dropdown toggle for navbar */
nav {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: red;
}

ul menu {
    text-decoration: none;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Main Styles */
main {
    background-color: brown;
    /* Fill surplus space with Main Content to push footer down */
    flex: 1 0 auto;
    margin-top: 65px;
}

/*Footer Styles */
footer {
    background-color: darkorange;
}

/*Media Query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        text-decoration: none;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down below header for larger screens */
        margin-top: 75px;
    }
}

/* Large Devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {


    #menu a:hover {
        border-bottom: 1px solid red;
    }

}