/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}

/*General Styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/* Generic Project Styles */
color: black;
}

/* Header Styles */
header {
    background-color: black;
    font-family: "Special Elite" , serif;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white
}

.nav-bar {
    color: red;
    border-bottom: 1px solid;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}  

/*Dropdown toggle for navbar */
nav {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: red
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Main Styles */
main {
    background-color: brown;
    /* Fill surplus space with Main Content to push footer down */
    flex: 1 0 auto;
    margin-top: 65px;
}

/*Footer Styles */
footer {
    background-color: darkorange;
}