/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color:aquamarine
}

/* Main Styles */
main {
    background-color: brown;
}

/*Footer Styles */
footer {
    background-color: darkorange;
}